@page
@model IndexModel
@{
    ViewData["Title"] = "Access management";
}

<h1 class="pb-2 border-bottom">@ViewData["Title"]</h1>

<h2>Authorization</h2>

<p>Add or remove users to roles.</p>
<p>
    <a class="btn btn-primary" asp-page="Roles/Index">Role management</a>
</p>
