@page
@model DeleteModel

@{
    Layout = "/Pages/Shared/_DeleteLayout.cshtml";
    ViewData["Title"] = "Delete Program";
}

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Organization.Code)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Organization.Code)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Organization.Name)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Organization.Name)
</dd>

@section DeleteFormContents {
    <input type="hidden" asp-for="Organization.Id" />
    <input class="btn btn-danger" type="submit" value="Delete">
    <a class="btn btn-secondary"
       asp-page="/Index"
       asp-fragment="subprogram-@Model.Organization.Id">Cancel</a>
}
