@page
@model EditModel

@{
    Layout = "/Pages/Shared/_CreateEditLayout.cshtml";
    ViewData["Title"] = "Edit Program";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Organization.Id" />
<div class="col-12">
    <label asp-for="Organization.Code" class="form-label"></label>
    <input asp-for="Organization.Code" class="form-control" />
    <span asp-validation-for="Organization.Code" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="Organization.Name" class="form-label"></label>
    <input asp-for="Organization.Name" class="form-control" />
    <span asp-validation-for="Organization.Name" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="Organization.AccountAssignments" class="form-label"></label>
    <ul class="list-group">
        @foreach (var account in Model.AccountAssignmentDataList)
        {
            <li class="list-group-item">
                <input class="form-check-input me-1"
                       type="checkbox"
                       name="selectedAccounts"
                       value="@account.AccountId"
                       id="account-@account.AccountId"
                @(Html.Raw(account.Assigned ? "checked=\"checked\"" : ""))>
                <label class="form-check-label" for="account-@account.AccountId">@account.AccountName</label>
            </li>
        }
    </ul>
</div>
<div class="col-12">
    <input class="btn btn-primary" type="submit" value="Save">
    <a class="btn btn-secondary"
       asp-page="./Index"
       asp-fragment="program-@Model.Organization.Id">Cancel</a>
</div>

@section FormInfoCardBody {
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
}
