@page
@model EditModel

@{
    Layout = "/Pages/Shared/_CreateEditLayout.cshtml";
    ViewData["Title"] = "Edit Budget";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="ActivityBudget.Id" />
<div class="col-12">
    <label asp-for="ActivityBudget.AccountAssignmentId" class="form-label"></label>
    <select asp-for="ActivityBudget.AccountAssignmentId" class="form-select" asp-items="@Model.AccountsSL" aria-describedby="accounts-select-help"></select>
    <div id="accounts-select-help" class="form-text">
        Select the account you are creating a budget for. Only accounts that don't have a budget are shown. If the account you are looking for is not on the list edit the budget for the account instead.
    </div>
    <span asp-validation-for="ActivityBudget.AccountAssignmentId" class="text-danger"></span>
</div>
<div class="col-12 col-sm-4">
    <label asp-for="ActivityBudget.Amount" class="form-label"></label>
    <div class="input-group">
        <span class="input-group-text">$</span>
        <input asp-for="ActivityBudget.Amount" class="form-control" />
    </div>
    <span asp-validation-for="ActivityBudget.Amount" class="text-danger"></span>
</div>
<div class="col-12 col-sm-8">
    <label asp-for="ActivityBudget.Comments" class="form-label"></label>
    <input asp-for="ActivityBudget.Comments" class="form-control" />
    <span asp-validation-for="ActivityBudget.Comments" class="text-danger"></span>
</div>
<div class="col-12">
    <input class="btn btn-primary" type="submit" value="Save">
    <a class="btn btn-secondary"
       asp-page="/Projects/Manage"
       asp-route-id="@Model.ActivityBudget.Activity.Result.ProjectId"
       asp-fragment="activity-@Model.ActivityBudget.ActivityId">
        Cancel
    </a>
</div>

@section FormInfoCardBody {
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
}
