@page
@inject IStringLocalizer<Resources.SharedResource> SharedLocalizer
@inject IHtmlLocalizer<Resources.SharedResource> HtmlLocalizer
@model EditModel

@{
    Layout = "/Pages/Shared/_CreateEditLayout.cshtml";
    ViewData["Action"] = @SharedLocalizer["CREATE"];
    ViewData["Entity"] = @SharedLocalizer["ENTITY_RESULT_NAME"];
}

@section PreForm {
    <h3 class="h5">Project</h3>
    <p>@ViewData["SelectedProject"]</p>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Result.Id" />
<div class="col-12">
    <label asp-for="Result.Code" class="form-label"></label>
    <input asp-for="Result.Code" class="form-control" />
    <span asp-validation-for="Result.Code" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="Result.Description" class="form-label"></label>
    <input asp-for="Result.Description" class="form-control" />
    <span asp-validation-for="Result.Description" class="text-danger"></span>
</div>
<div class="col-12">
    <input class="btn btn-primary" type="submit" value="Save">
    <a class="btn btn-secondary"
       asp-page="/Projects/Manage"
       asp-route-id="@Model.Result.ProjectId"
       asp-fragment="result-@Model.Result.Id">
        Cancel
    </a>
</div>

