@page
@model IndexModel

@{
    Layout = "/Pages/Shared/_IndexLayout.cshtml";
    ViewData["Title"] = "Spending Requests";
}

@section Introduction {
    <p>To use the budget, start by creating a Spending Request.</p>

    <p><a class="btn btn-primary" asp-page="SelectProject">Create request</a></p>
}

@section Headers {
    <th>
        @Html.DisplayNameFor(model => model.SpendingRequests[0].Description)
    </th>
}

@foreach (var item in Model.SpendingRequests)
{
    <tr>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="align-middle">
            <table-buttons>
                <edit-button asp-page="Edit" asp-route-id="@item.Id"></edit-button>
                <delete-button asp-page="Delete" asp-route-id="@item.Id"></delete-button>
            </table-buttons>
        </td>
    </tr>
}
