@page
@model CreateModel

@{
    Layout = "/Pages/Shared/_CreateEditLayout.cshtml";
    ViewData["Title"] = "Create Subprogram";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="col-12">
    <label asp-for="BusinessSubprogram.BusinessProgramId" class="form-label"></label>
    <select asp-for="BusinessSubprogram.BusinessProgramId" class="form-select" asp-items="@Model.ProgramNameSL"></select>
    <span asp-validation-for="BusinessSubprogram.BusinessProgramId" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="BusinessSubprogram.Code" class="form-label"></label>
    <input asp-for="BusinessSubprogram.Code" class="form-control" />
    <span asp-validation-for="BusinessSubprogram.Code" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="BusinessSubprogram.Name" class="form-label"></label>
    <input asp-for="BusinessSubprogram.Name" class="form-control" />
    <span asp-validation-for="BusinessSubprogram.Name" class="text-danger"></span>
</div>
<div cite="col-12">
    <label asp-for="BusinessSubprogram.AccountAssignments" class="form-label"></label>
    <div class="alert alert-info" role="alert">
        After creating this <b>Subprogram</b> you may assign accounts to it by clicking <b>Edit</b>.
    </div>
</div>
<div class="col-12">
    <input class="btn btn-primary" type="submit" value="Create">
    <a class="btn btn-secondary" asp-page="/Index" asp-fragment="subprograms">Cancel</a>
</div>

@section FormInfoCardBody {
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
}
