@page
@model EditModel

@{
    Layout = "/Pages/Shared/_CreateEditLayout.cshtml";
    ViewData["Title"] = "Edit Subprogram";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="BusinessSubprogram.Id" />
<div class="col-12">
    <label asp-for="BusinessSubprogram.Code" class="form-label"></label>
    <input asp-for="BusinessSubprogram.Code" class="form-control" />
    <span asp-validation-for="BusinessSubprogram.Code" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="BusinessSubprogram.Name" class="form-label"></label>
    <input asp-for="BusinessSubprogram.Name" class="form-control" />
    <span asp-validation-for="BusinessSubprogram.Name" class="text-danger"></span>
</div>
<div cite="col-12">
    <label asp-for="BusinessSubprogram.AccountAssignments" class="form-label"></label>
    <ul class="list-group">
        @foreach (var account in Model.AccountAssignmentDataList)
        {
            <li class="list-group-item">
                <input class="form-check-input me-1"
                       type="checkbox"
                       name="selectedAccounts"
                       value="@account.AccountId"
                       id="account_@account.AccountId"
                @(Html.Raw(account.Assigned ? "checked=\"checked\"" : ""))>
                <label class="form-check-label" for="account_@account.AccountId">@account.AccountName</label>
            </li>
        }
    </ul>
</div>
<div class="col-12">
    <input class="btn btn-primary" type="submit" value="Save">
    <a class="btn btn-secondary"
       asp-page="/Index"
       asp-fragment="subprogram-@Model.BusinessSubprogram.Id">Cancel</a>
</div>

@section FormInfoCardBody {
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
}
