@page
@model IndexModel
@{
    ViewData["Title"] = "Administration dashboard";
}

<h1 class="pb-2 border-bottom">Administration</h1>

<p>Manage the main catalogs used by the database. These serve as the base upon the rest of the data is created.</p>

<div class="card mb-2" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">On this page</h5>
        <ul class="list-unstyled mb-0">
            <li><a href="#accounts">Accounts</a></li>
            <li><a href="#programs">Programs</a></li>
            <li><a href="#donors">Donors</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#deposits">Deposits</a></li>
        </ul>
    </div>
</div>

<h2 id="accounts">Accounts</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Accounts</h5>
        <p class="card-text">Accounts catalog used by the database.</p>
        <a class="btn btn-primary" asp-page="Accounts/Index">Accounts</a>
    </div>
</div>

<h2 id="programs">Programs</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Programs</h5>
        <p class="card-text">Programs catalog used by the database.</p>
        <a class="btn btn-primary" asp-page="Organizations/Index">Programs</a>
    </div>
</div>

<h2 id="donors">Donors</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Donors</h5>
        <p class="card-text">Donors catalog used by the database.</p>
        <a class="btn btn-primary" asp-page="Donors/Index">Donors</a>
    </div>
</div>

<h2 id="projects">Projects</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Projects</h5>
        <p class="card-text">Projects catalog used by the database.</p>
        <a class="btn btn-primary" asp-page="Projects/Index">Projects</a>
    </div>
</div>

<h2 id="deposits">Deposits</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Deposit management</h5>
        <p cite="card-text">Management of the installments made to each <b>Project</b> budget.</p>
        <a class="btn btn-primary" asp-page="Deposits/Index">Deposit management</a>
    </div>
</div>
