@page
@inject IStringLocalizer<Resources.SharedResource> Localizer
@inject IHtmlLocalizer<Resources.SharedResource> HtmlLocalizer
@model EditModel

@{
    Layout = "/Pages/Shared/_CreateEditLayout.cshtml";
    ViewData["Action"] = @Localizer["EDIT"];
    ViewData["Entity"] = @Localizer["ENTITY_ACCOUNT_NAME"];
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Account.Id" />
<div class="col-12">
    <label asp-for="Account.Code" class="form-label"></label>
    <input asp-for="Account.Code" class="form-control" />
    <span asp-validation-for="Account.Code" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="Account.Name" class="form-label"></label>
    <input asp-for="Account.Name" class="form-control" />
    <span asp-validation-for="Account.Name" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="Account.Description" class="form-label"></label>
    <input asp-for="Account.Description" class="form-control" />
    <span asp-validation-for="Account.Description" class="text-danger"></span>
</div>
<div class="col-12">
    <save-button></save-button>
    <cancel-button asp-page="./Index"></cancel-button>
</div>

@section PreForm {
    <h2 class="h4">@Localizer["ENTITY_ACCOUNT_CATALOG_NAME"]</h2>
    @HtmlLocalizer["ENTITY_ACCOUNT_HELP"]
}
