@page
@inject IViewLocalizer Localizer
@model ErrorModel
@{
    ViewData["Title"] = @Localizer["ERRORPAGE_TITLE"];
}

<div class="alert alert-danger mb-0" role="alert">
    <h1 class="alert-heading">@Localizer["ERRORPAGE_TITLE"]</h1>
    <h2>@Localizer["ERRORPAGE_DESCRIPTION"]</h2>
    <hr>
    @if (Model.ShowRequestId)
    {
        <p class="mb-0">
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>
