@page
@inject IViewLocalizer Localizer
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Conselva.net</h1>
    <p class="lead">@Localizer["HOMEPAGE_LEAD"]</p>
</div>
