@page
@inject IStringLocalizer<Resources.SharedResource> Localizer
@inject IHtmlLocalizer<Resources.SharedResource> HtmlLocalizer
@model CreateModel

@{
    Layout = "/Pages/Shared/_CreateEditLayout.cshtml";
    ViewData["Action"] = @Localizer["CREATE"];
    ViewData["Entity"] = @Localizer["ENTITY_ORGANIZATION_NAME"];
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="col-12">
    <label asp-for="Organization.Code" class="form-label"></label>
    <input asp-for="Organization.Code" class="form-control" />
    <span asp-validation-for="Organization.Code" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="Organization.Name" class="form-label"></label>
    <input asp-for="Organization.Name" class="form-control" />
    <span asp-validation-for="Organization.Name" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="Organization.AccountAssignments" class="form-label"></label>
    <div class="alert alert-info" role="alert">
        After creating this <b>Program</b> you may assign accounts to it by clicking <b>Edit</b>.
    </div>
</div>
<div class="col-12">
    <create-button></create-button>
    <cancel-button asp-page="./Index"></cancel-button>
</div>

@section FormInfo {
    <h1 class="h4">@Localizer["ENTITY_ORGANIZATION_CATALOG_NAME"]</h1>
    @HtmlLocalizer["ENTITY_ORGANIZATION_HELP"]
}
