@page
@model CreateModel

@{
    Layout = "/Pages/Shared/_CreateEditLayout.cshtml";
    ViewData["Title"] = "Add Expense";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="col-12">
    <label asp-for="Expense.ActivityBudgetId" class="form-label"></label>
    <select asp-for="Expense.ActivityBudgetId" class="form-select" asp-items="ViewBag.ActivityBudgetId"></select>
    <span asp-validation-for="Expense.ActivityBudgetId" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="Expense.Description" class="form-label"></label>
    <input asp-for="Expense.Description" class="form-control" />
    <span asp-validation-for="Expense.Description" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="Expense.Vendor" class="form-label"></label>
    <input asp-for="Expense.Vendor" class="form-control" />
    <span asp-validation-for="Expense.Vendor" class="text-danger"></span>
</div>
<div class="col-6">
    <label asp-for="Expense.Amount" class="form-label"></label>
    <input asp-for="Expense.Amount" class="form-control" />
    <span asp-validation-for="Expense.Amount" class="text-danger"></span>
</div>
<div class="col-6">
    <label asp-for="Expense.ExpenseDate" class="form-label"></label>
    <input asp-for="Expense.ExpenseDate" class="form-control" />
    <span asp-validation-for="Expense.ExpenseDate" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="Expense.Comments" class="form-label"></label>
    <input asp-for="Expense.Comments" class="form-control" />
    <span asp-validation-for="Expense.Comments" class="text-danger"></span>
</div>
<div class="col-12">
    <input class="btn btn-primary" type="submit" value="Create">
    <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
</div>

@section FormInfoCardBody {
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
}
