@page
@model IndexModel
@{
    ViewData["Title"] = "Reporting";
}

<h1 class="pb-2 border-bottom">@ViewData["Title"]</h1>

<p>Reporting creation dashboard.</p>

<h2>Global balance</h2>

<p>Global balance report.</p>
<p>
    <a class="btn btn-primary" asp-page="Balance/Index"><i class="bi bi-download"></i> Download</a>
</p>
