@page
@model EditModel

@{
    Layout = "/Pages/Shared/_CreateEditLayout.cshtml";
    ViewData["Title"] = "Edit Activity";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Activity.Id" />
<div class="col-12">
    <label asp-for="Activity.ResultId" class="form-label"></label>
    <select asp-for="Activity.ResultId" class="form-select" asp-items="@Model.ResultNameSL"></select>
    <span asp-validation-for="Activity.ResultId" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="Activity.Name" class="form-label"></label>
    <input asp-for="Activity.Name" class="form-control" />
    <span asp-validation-for="Activity.Name" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="Activity.DueDate" class="form-label"></label>
    <input asp-for="Activity.DueDate" class="form-control" />
    <span asp-validation-for="Activity.DueDate" class="text-danger"></span>
</div>
<div class="col-12">
    <input class="btn btn-primary" type="submit" value="Save">
    <a class="btn btn-secondary"
       asp-page="/Projects/Manage"
       asp-route-id="@Request.Query["projectId"]"
       asp-fragment="activity-@Model.Activity.Id">
        Cancel
    </a>
</div>

@section FormInfoCardBody {
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
}
