@model ViewModels.ButtonViewModel

<a class="btn btn-secondary btn-sm" asp-page="@Model.AspPage" asp-route-id="@Model.RouteId" title="Edit" aria-label="Edit">
    <i class="bi bi-pencil-square"></i>
</a>
