@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = $"{ViewData["Action"]} {ViewData["Entity"]}";
}

<h1 class="pb-2 border-bottom">@ViewData["Title"]</h1>

@await RenderSectionAsync("PreForm", required: false)
<form method="post" class="row g-3">
    @RenderBody()
</form>

@section CSS {
    @await RenderSectionAsync("FormCSS", required: false)
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await RenderSectionAsync("FormScripts", required: false);
    }
}
