<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <button class="btn btn-link nav-link dropdown-toggle text-body" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-translate"></i>
            <span class="d-lg-none ms-2" id="bd-theme-text">Select language</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">English</a></li>
            <li><a class="dropdown-item" href="#">Español</a></li>
        </ul>
    </li>
</ul>
