@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new { c.Name, c.DisplayName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <button class="btn btn-link nav-link dropdown-toggle text-body" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-translate"></i>
            <span class="d-lg-none ms-2" id="bd-theme-text">Select language</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            @foreach (var culture in cultureItems)
            {
                <li>
                    <form method="post" asp-area="" asp-page="/Index" asp-page-handler="setCulture" asp-route-returnUrl="@returnUrl" asp-route-culture="@culture.Name">
                        <button class="dropdown-item" type="button" onclick="this.form.submit();">@culture.DisplayName</button>
                    </form>
                </li>
            }
        </ul>
    </li>
</ul>
