<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Conselva.net</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConselvaBudget.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("CSS", required: false)
</head>
<body class="bg-body-tertiary">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom box-shadow mb-3">
            <div class="container-md">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Conselva.net</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(Roles.Administrator))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-body" asp-area="Administration" asp-page="/Index">Administration</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-body" asp-area="Budget" asp-page="/Projects/Index">Budget</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" asp-area="Expenses" asp-page="/Expenses/Index">Expense</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                    <partial name="_ThemeSelectorPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-md p-4 bg-body rounded shadow-sm mb-3">
        <partial name="_BreadcrumbPartial" />
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>