@page
@model EditModel

@{
    Layout = "/Pages/Shared/_CreateEditLayout.cshtml";
    ViewData["Title"] = "Edit account mappings";
}

<h2>@Model.Donor.ShortName</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Donor.Id" />
@foreach (var key in Model.AccountBaseNames.Keys)
{
    <div class="row mb-3">
        <label asp-for="EquivalentAccountNames[key]" class="col-sm-5 col-form-label">@Model.AccountBaseNames[key]</label>
        <div class="col-sm-7">
            <input asp-for="EquivalentAccountNames[key]" class="form-control" />
        </div>
    </div>
}
<div class="col-12">
    <input class="btn btn-primary" type="submit" value="Save">
    <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
</div>

@section FormInfoCardBody {
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
}
