@page
@model DeleteModel

@{
    Layout = "/Pages/Shared/_DeleteLayout.cshtml";
    ViewData["Title"] = "Delete Donor";
}

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Donor.Name)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Donor.Name)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Donor.Description)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Donor.Description)
</dd>

@section DeleteFormContents {
    <input type="hidden" asp-for="Donor.Id" />
    <input class="btn btn-danger" type="submit" value="Delete">
    <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
}
