@page
@model IndexModel

@{
    Layout = "/Pages/Shared/_IndexLayout.cshtml";
    ViewData["Title"] = "Donors";
}

@section Introduction {
    <p>Donors catalog used by the database.</p>

    <p><a class="btn btn-primary" asp-page="Create">Create account</a></p>
}

@section Headers {
    <th>
        @Html.DisplayNameFor(model => model.Donors[0].ShortName)
    </th>
}

@foreach (var item in Model.Donors)
{
    <tr>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td class="align-middle">
            <table-buttons>
                <edit-button asp-page="Edit" asp-route-id="@item.Id"></edit-button>
                <delete-button asp-page="Delete" asp-route-id="@item.Id"></delete-button>
            </table-buttons>
        </td>
    </tr>
}
