@page
@inject IStringLocalizer<Resources.SharedResource> Localizer
@model CreateModel

@{
    Layout = "/Pages/Shared/_CreateEditLayout.cshtml";
    ViewData["Action"] = @Localizer["CREATE"];
    ViewData["Entity"] = @Localizer["ENTITY_AMOUNT_REQUEST_NAME"];
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="col-12">
    <label asp-for="AmountRequest.ActivityBudgetId" class="form-label"></label>
    <select asp-for="AmountRequest.ActivityBudgetId" class="form-select" asp-items="@Model.ActivityBudgetSL"></select>
    <span asp-validation-for="AmountRequest.ActivityBudgetId" class="text-danger"></span>
</div>
<div class="col-12 col-sm-4">
    <label asp-for="AmountRequest.Amount" class="form-label"></label>
    <div class="input-group">
        <span class="input-group-text">$</span>
        <input asp-for="AmountRequest.Amount" class="form-control" />
    </div>
    <span asp-validation-for="AmountRequest.Amount" class="text-danger"></span>
</div>
<div class="col-12 col-sm-8">
    <label asp-for="AmountRequest.Description" class="form-label"></label>
    <input asp-for="AmountRequest.Description" class="form-control" />
    <span asp-validation-for="AmountRequest.Description" class="text-danger"></span>
</div>
<div class="col-12">
    <create-button></create-button>
    <cancel-button asp-page="/Requests/Details" asp-route-id="@Request.Query["request"]"></cancel-button>
</div>
